div.container {
  height: auto;
  width: 90%;
  max-width: 1280px;
  margin: auto;

  background-color: #f4faff;

  display: grid;
  grid-template:
      'header header header'
      'headline headline headline'
      'bodytext bodytext twitter'
      'bodytext bodytext twitter'
      'footer footer footer';
}

div.pic-logo {
  grid-area: header;
  margin: auto;
  width: 100%;

  text-align: center;
  line-height: 0px;
  display: inline-block;
}

img.pic-logo {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.4);
}

div.headline {
  grid-area: headline;
  margin: auto;
  width: 100%;
  text-align: center;
  line-height: 48px;
  display: inline-block;
}

div.bodytext {
  grid-area: bodytext;
  padding-left: 25px;
  padding-right: 5px;
  display: block;
}

div.flag {
  text-align: center;
}

div.TwitterFeed {
  grid-area: twitter;
  height: 750px;
  max-width: 400px;
  min-width: 250px;
  overflow:scroll;
}

div.footer {
  grid-area: footer;
  width: auto;
  margin: auto;
  text-align: center;
  padding-right: 25px;
}
